:root {
    --theme-background-override-color: #09242a;
    --theme-background-color: var(--theme-background-override-color, #09242a);
}

body {
    transition: background 0ms linear !important;
}

.archived-games-result-won::before {
    color: #22b422 !important;
}

.archived-games-result-lost::before {
    color: #e46f0f !important;
}