.confirm-tray-component {
    bottom: 0 !important;
    transform: none !important;
    padding: 0 !important;
    background: none !important;
    box-shadow: none !important;
}


.confirm-tray-component button:nth-child(2),
.confirm-tray-component .confirm-tray-text {
    display: none !important;
    pointer-events: none;
    user-select: none;
}

.confirm-tray-component button:nth-last-child(1) {
    position: absolute;
    left: 0;
    top: -3px;
    bottom: 0;
    width: 85px;
    z-index: 10;
    height: 100%;
    padding: 0;
    box-shadow: none !important;
    border-radius: 0!important;
}

.draw-button-component,
.resign-button-component {
    height: 35px;
    padding: 0 5px;
}